:root {
  font-family: "Lato", sans-serif;
  --solar-gray: #f0f0f0;
  --solar-blue: #3c486b;
  --solar-red: #f45050;
  --solar-yellow: #f9d949;
}

body {
  background-color: var(--solar-blue) !important;
}
