.solar__header__container {
    margin: auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.solar__header {
    text-align: center;
    letter-spacing: 0.25em;
    font-size: 2.5em;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    color: var(--solar-yellow);
}