.solar__header__container {
    margin-inline: auto;
    margin-bottom: 1.5em;
    padding: 1rem;
}

.solar__header {
    text-align: center;
    letter-spacing: 0.25em;
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    color: var(--solar-yellow);
}